.about {
    &__inner {
        display: flex;
        height: 776px;
        justify-content: space-between;
        margin-bottom: 80px;
        padding-top: 70px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 37px 0px;
        margin-top: auto;
        padding-bottom: 100px;
        transition: all 0.3s;
    }

    &__title {
        @include text-gradient;
        font-family: Cinzel;
        font-size: 64px;
        font-weight: 500;
        letter-spacing: -0.01em;
        line-height: 76.8px;
    }

    &__title span {
        font-size: 77px;
        font-weight: 800;
        letter-spacing: 0.44em;
        line-height: 88.8px;
    }

    &__text {
        font-family: Montserrat-400;
        font-size: 22px;
        line-height: 50px;
    }

    &__box-links {
        display: flex;
        font-family: Montserrat-500;
        font-size: 18px;
        font-weight: 500;
        gap: 0px 58px;
        letter-spacing: 0.15em;
        line-height: 50px;
        position: relative;
        text-transform: uppercase;
        z-index: 2;
    }

    &__link:nth-child(1) {
        @include text-gradient;
        align-items: center;
        display: flex;
        gap: 0px 8px;
        justify-content: center;
        max-width: 180px;
        position: relative;
        width: 100%;
    }

    &__link:nth-child(2) {
        max-width: 170px;
        width: 100%;
    }

    &__link-border {
        display: block;
        height: 1px;
        opacity: 1;
        position: absolute;
        transition: all 0.5s;
        width: 100%;
    }

    &__link-border::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 1;
        transition: all 0.5s;
    }

    &__link-border::after {
        content: '';
        display: block;
        height: 100%;
        opacity: 0;
        position: absolute;
        transition: all 0.5s;
        width: 100%;
        z-index: 4;
    }

    &__link-border:nth-child(2) {
        left: 0;
        top: 0px;
    }

    &__link-border:nth-child(2)::before {
        background: linear-gradient(90deg, rgba(223, 181, 98, 1) 50%, rgba(22, 28, 42, 1));
    }

    &__link-border:nth-child(2)::after {
        background: linear-gradient(90deg, rgb(35, 42, 63) 50%, rgb(244 152 173 / 0));
        left: 0;
        top: 0;
    }

    &__link-border:nth-child(3) {
        bottom: 0;
        right: -25px;
        transform: rotate(90deg) translateX(-50%);
        width: 50px;
    }

    &__link-border:nth-child(3)::before {
        background: linear-gradient(90deg, rgba(22, 28, 42, 1) 20%, rgb(35, 42, 63));
    }

    &__link-border:nth-child(3)::after {
        background: linear-gradient(90deg, rgb(244 152 173 / 0) 0%, rgba(223, 181, 98, 1) 100%);
    }

    &__link-border:nth-child(4) {
        bottom: 0;
        left: 0;
        width: 100%;
    }

    &__link-border:nth-child(4)::before {
        background: linear-gradient(90deg, rgb(244 152 173 / 0) 40%, rgb(35, 42, 63));
    }

    &__link-border:nth-child(4)::after {
        background: linear-gradient(90deg, rgba(22, 28, 42, 1) 20%, rgba(223, 181, 98, 1) 50%);
    }

    &__link-border:nth-child(5) {
        left: -25px;
        top: 0px;
        transform: rotate(90deg) translateX(50%);
        width: 50px;
    }

    &__link-border:nth-child(5)::before {
        background: linear-gradient(90deg, rgba(223, 181, 98, 1) 0%, rgb(244 152 173 / 0) 100%);
    }

    &__link-border:nth-child(5)::after {
        background: linear-gradient(90deg, rgb(35, 42, 63) 40%, rgba(22, 28, 42, 1));
    }
}

.statue {
    position: relative;

    &__box img {
        position: relative;
        z-index: 5;
    }

    &__mask {
        position: absolute;
        top: 70px;
        right: 50px;
        z-index: 4;
    }

    &__border {
        bottom: 2px;
        height: 90%;
        overflow: hidden;
        position: absolute;
        right: 0;
        width: 90%;
    }

    &__border-item {
        height: 2px;
        position: absolute;
        width: 100%;
    }

    &__border-item:nth-child(1) {
        background-image: linear-gradient(
            90deg,
            rgb(246, 212, 133) 10%,
            rgb(154, 103, 12) 15%,
            rgb(244 152 173 / 0) 30%
        );
        top: 0;
        left: 0;
    }

    &__border-item:nth-child(2) {
        background-image: linear-gradient(
            90deg,
            rgb(244 152 173 / 0) 40%,
            rgb(154, 103, 12) 60%,
            rgb(246, 212, 133) 80%
        );
        bottom: 50%;
        right: -50%;
        transform: rotate(90deg);
    }

    &__border-item:nth-child(3) {
        background-image: linear-gradient(
            90deg,
            rgb(244 152 173 / 0) 30%,
            rgb(154, 103, 12) 50%,
            rgb(246, 212, 133) 80%
        );
        bottom: 0px;
        left: 0;
    }

    &__border-item:nth-child(4) {
        background-image: linear-gradient(
            90deg,
            rgb(246, 212, 133) 20%,
            rgb(154, 103, 12) 50%,
            rgb(244 152 173 / 0) 60%
        );
        top: 50%;
        left: -50%;
        transform: rotate(90deg);
    }
}

.ellipse {
    position: absolute;
    z-index: 1;
}

.ellipse-top-right {
    background-image: var(--ellipse-gradient-1);
    height: 1067.43px;
    opacity: 0.6;
    right: -136px;
    top: -249px;
    transform: rotate(180deg);
    width: 876.07px;
}

.ellipse-left-center {
    background-image: var(--ellipse-gradient-2);
    height: 1210px;
    left: -12px;
    opacity: 0.3;
    position: absolute;
    top: -150px;
    transform: rotate(270deg);
    width: 898px;
}

.about__link:nth-child(1):active {
    background-image: linear-gradient(
        295.26deg,
        #ffe195 0%,
        rgba(242, 187, 90, 0.876812) 17.02%,
        rgba(191, 122, 0, 0.75) 34.55%,
        rgba(191, 122, 0, 0) 96.14%,
        rgba(15, 18, 24, 0) 96.14%
    );
    color: #0a0c10;
    background-clip: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
}

.about__link:nth-child(1):active svg path {
    stroke: #0a0c10;
}

@media (hover: hover) {
    .about__link:hover .about__link-border:nth-child(2)::before {
        opacity: 0;
    }

    .about__link:hover .about__link-border:nth-child(2)::after {
        opacity: 1;
    }

    .about__link:hover .about__link-border:nth-child(3)::before {
        opacity: 0;
    }

    .about__link:hover .about__link-border:nth-child(3)::after {
        opacity: 1;
    }

    .about__link:hover .about__link-border:nth-child(4)::before {
        opacity: 0;
    }

    .about__link:hover .about__link-border:nth-child(4)::after {
        opacity: 1;
    }

    .about__link:hover .about__link-border:nth-child(5)::before {
        opacity: 0;
    }

    .about__link:hover .about__link-border:nth-child(5)::after {
        opacity: 1;
    }

    .about__link:nth-child(2):hover {
        background-image: var(--bg-button-gradient-hover);
    }
}

@media (max-width: 1250px) {
    .statue {
        transform: translateX(-7%);
    }
}

@media (max-width: 1150px) {
    .statue {
        transform: translateX(-30%);

        &__border {
            display: none;
        }
    }
}

@media (max-width: 950px) {
    .about {
        &__title {
            font-size: 54px;
        }

        &__title span {
            font-size: 63px;
        }
    }
}

@media (max-width: 850px) {
    .statue {
        transform: translateX(-35%);
    }
}

@media (max-width: 768px) {
    .main-menu-active .about__content {
        opacity: 0.4;
        z-index: -1;
    }

    .statue {
        display: none;
    }

    .about {
        &__inner {
            padding-top: 100px;
            margin-bottom: 0;
            height: max-content;
        }

        &__title {
            font-size: 10.8vw;
            line-height: 12vw;
            white-space: nowrap;
        }

        &__title span {
            font-size: 12vw;
            line-height: 13vw;
        }

        &__content {
            margin-top: 0px;
            padding-bottom: 60px;
        }

        &__box-links {
            justify-content: flex-end;
            gap: 0px 20px;
        }
    }
}

@media (max-width: 500px) {
    .about {
        &__content {
            gap: 20px 0px;
        }

        &__text {
            font-size: 18px;
            line-height: 40px;
        }

        &__box-links {
            margin-top: 15px;
        }
    }
}

@media (max-width: 450px) {
    .about__inner {
        padding-top: 75px;
    }
}

@media (max-width: 390px) {
    .about {
        &__link {
            font-size: 16px;
        }

        &__text {
            font-size: 16px;
            line-height: 34px;
        }
    }
}
