.footer {
    &__inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 120px;
    }

    &__title {
        opacity: 0;
        text-align: center;
        transition: opacity 1.5s;
    }

    &__text {
        font-family: Montserrat-400;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.03em;
        line-height: 50px;
        margin-bottom: 7px;
        opacity: 0;
        text-align: center;
        transition: opacity 2s;
    }
}

.contacts {
    display: flex;
    gap: 0px 30px;

    &__item {
        background-color: var(--main-background-color);
        height: 49px;
        opacity: 0;
        position: relative;
        transform: translateX(90%);
        transition: all 1s;
        width: 49px;
    }

    &__link {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}

.contacts__item:nth-child(1) {
    transition-delay: 0.5s;
}
.contacts__item:nth-child(2) {
    transition-delay: 1s;
}
.contacts__item:nth-child(3) {
    transition-delay: 1.5s;
}
.contacts__item:nth-child(4) {
    transition-delay: 2s;
}
.contacts__item:nth-child(5) {
    transition-delay: 2.5s;
}

.contacts__item .gradient-border:nth-child(2)::before {
    background-image: linear-gradient(90deg, rgba(223, 181, 98, 1) 0%, rgb(244 152 173 / 0) 70%);
}

.contacts__item .gradient-border:nth-child(2)::after {
    background: transparent;
}

.contacts__item .gradient-border:nth-child(3)::before {
    background: transparent;
}

.contacts__item .gradient-border:nth-child(3)::after {
    background-image: linear-gradient(90deg, rgb(244 152 173 / 0) 30%, rgba(223, 181, 98, 1) 100%);
}

.contacts__item .gradient-border:nth-child(4)::before {
    background: transparent;
}

.contacts__item .gradient-border:nth-child(4)::after {
    background-image: linear-gradient(90deg, rgb(244 152 173 / 0) 30%, rgba(223, 181, 98, 1) 100%);
}

.contacts__item .gradient-border:nth-child(5)::before {
    background-image: linear-gradient(90deg, rgba(223, 181, 98, 1) 0%, rgb(244 152 173 / 0) 70%);
}

.contacts__item .gradient-border:nth-child(5)::after {
    background: transparent;
}

@media (hover: hover) {
    .contacts__item:hover .gradient-border:nth-child(2)::before {
        opacity: 0;
    }

    .contacts__item:hover .gradient-border:nth-child(2)::after {
        opacity: 1;
    }

    .contacts__item:hover .gradient-border:nth-child(3)::before {
        opacity: 0;
    }

    .contacts__item:hover .gradient-border:nth-child(3)::after {
        opacity: 1;
    }

    .contacts__item:hover .gradient-border:nth-child(4)::before {
        opacity: 0;
    }

    .contacts__item:hover .gradient-border:nth-child(4)::after {
        opacity: 1;
    }

    .contacts__item:hover .gradient-border:nth-child(5)::before {
        opacity: 0;
    }

    .contacts__item:hover .gradient-border:nth-child(5)::after {
        opacity: 1;
    }
}

@media (max-width: 500px) {
    .footer {
        &__inner {
            margin-bottom: 60px;
        }

        &__text {
            line-height: 24px;
            margin-bottom: 25px;
        }
    }

    .contacts {
        gap: 0px 20px;
    }
}

@media (max-width: 390px) {
    .contacts {
        gap: 0px 15px;
    }
}
