.header {
    border-bottom: 1px solid #101822;

    &__inner {
        align-items: flex-end;
        display: flex;
        height: 96px;
        padding-bottom: 23px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        transition: all 0.7s;
        width: 100%;
    }
}

.logo {
    display: flex;
    align-items: flex-end;
}

.nav {
    align-items: flex-end;
    display: flex;
    gap: 0px 54.5px;
    margin-top: auto;
    position: relative;
    z-index: 2;

    &__list {
        display: flex;
        align-items: flex-end;
        gap: 0px 54.5px;
    }

    &__item {
        font-family: Montserrat-500;
        font-weight: 500;
        line-height: 19.5px;
        padding: 7px 9px;
    }

    &__link {
        transition: all 0.3s;
    }
}

.toggle-theme {
    animation: InfinityRotate 20s infinite linear;
    line-height: 0;
    position: relative;
    top: -5px;
}

.burger {
    display: none;
    position: absolute;
    z-index: 10;

    &__line {
        background-color: var(--main-text-color);
        height: 1px;
        width: 20px;
    }
}

@keyframes InfinityRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (hover: hover) {
    .nav__item:hover .nav__link {
        text-shadow: 1px 1px 1px var(--main-text-color);
    }
}

@media (max-width: 920px) {
    .nav {
        gap: 0px 20px;

        &__list {
            gap: 0px 20px;
        }
    }
}

@media (max-width: 768px) {
    .header {
        border: none;
        position: absolute;
        width: 100%;

        &__inner {
            height: auto;
        }

        &__content {
            align-items: center;
            flex-direction: column;
            inset: 0;
            justify-content: start;
            min-height: 100vh;
            padding-top: 40px;
            position: absolute;
            transform: translateX(100%);
            z-index: 2;
        }
    }

    .logo {
        margin-bottom: 20px;
    }

    .nav {
        align-items: center;
        flex-direction: column;
        gap: 0px;
        margin-top: 0px;

        &__list {
            flex-direction: column;
            align-items: center;
            gap: 0px;
        }

        &__item {
            padding: 15px 9px;
        }
    }

    .toggle-theme {
        padding: 15px 9px;
        top: 0px;
    }

    .burger {
        align-items: center;
        border-radius: 50%;
        border: 1px solid var(--main-text-color);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: 40px;
        justify-content: center;
        right: 20px;
        row-gap: 8px;
        top: 20px;
        width: 40px;

        &__line {
            transition: transform 0.3s;
        }
    }

    .menu-active {
        transform: translateX(0%);
    }

    .menu-active + .burger > .burger__line:nth-child(1) {
        transform: rotate(-45deg) translate(-3px, 3px);
    }

    .menu-active + .burger > .burger__line:nth-child(2) {
        transform: rotate(45deg) translate(-3px, -3px);
    }
}

@media (max-width: 450px) {
    .burger {
        height: 36px;
        right: 10px;
        top: 10px;
        width: 36px;
    }
}
