.works {
    &__inner {
        margin-bottom: 100px;
    }

    &__header {
        display: flex;
        gap: 0px 27px;
        justify-content: flex-end;
        margin-bottom: 32px;
    }

    &__link {
        font-family: Montserrat-400;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.03em;
        line-height: 50px;
        text-transform: uppercase;
        text-wrap: nowrap;
        transition: all 0.3s;
    }
}

.slider {
    opacity: 0;
    overflow: hidden;
    position: relative;
    transition: opacity 2s;

    &::after {
        background-image: var(--slider-inner-right-side-gradient);
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 15.33%;
        z-index: 2;
    }

    &__inner {
        display: flex;
        flex-wrap: nowrap;
        gap: 0 80px;
        position: relative;
        transition: all 0.7s linear;
    }
}

.card {
    background-image: radial-gradient(
        51.16% 71.74% at 1.33% 1.78%,
        #ffe195 0%,
        rgba(242, 187, 90, 0.876812) 17.71%,
        rgba(191, 122, 0, 0.75) 35.94%,
        rgba(191, 122, 0, 0) 100%,
        rgba(15, 18, 24, 0) 100%
    );
    flex-shrink: 0;
    height: max-content;
    position: relative;
    width: 29.763333%;
    z-index: 2;

    &__inner {
        position: relative;
    }

    &__inner::before {
        background-image: linear-gradient(121.88deg, rgba(244, 205, 104, 0.76) 0%, rgba(13, 13, 13, 0) 47.28%);
        content: '';
        display: block;
        inset: 4px;
        opacity: 0.1;
        position: absolute;
        z-index: 1;
    }

    &__picture {
        display: block;
        height: calc(100% - 4px);
        left: 4px;
        overflow: hidden;
        position: relative;
        top: 4px;
        width: calc(100% - 4px);
    }

    &__picture img {
        height: 100%;
        transition: all 0.5s;
        width: 100%;
    }

    &__title {
        background-image: var(--card-title-gradient);
        bottom: 0;
        font-family: Montserrat-400;
        font-size: 18px;
        font-weight: 300;
        left: 0;
        letter-spacing: 0.035em;
        line-height: 50px;
        padding: 7px 20px;
        position: absolute;
        width: 100%;
        z-index: 2;
    }
}

@media (hover: hover) {
    .works__link:hover {
        text-shadow: 1px 1px 1px var(--main-text-color);
    }
}

@media (max-width: 1200px) {
    .card__title {
        font-size: 16px;
        padding: 7px 10px;
    }
}

@media (max-width: 1050px) {
    .slider::after {
        width: 33%;
    }

    .card {
        width: 100%;

        &__title {
            font-size: 24px;
            padding: 7px 20px;
        }
    }
}

@media (max-width: 768px) {
    .main-menu-active .works {
        opacity: 0.2;
        z-index: -1;
    }

    .works__header {
        margin-bottom: 16px;
        gap: 0;
    }

    .works__inner {
        margin-bottom: 60px;
    }

    .card__title {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .card__title {
        font-size: 18px;
    }

    .works__link {
        font-size: 14px;
    }
}

@media (max-width: 390px) {
    .card__title {
        font-size: 14px;
    }

    .works__link {
        font-size: 11px;
    }
}
