:root {
    --main-text-color: #fff;
    --main-background-color: #050607;

    --button-text-color: #0a0d11;
    --contribution-bg: #07090c;
    --contribution-text-color: #cccccc;

    --text-gradient: linear-gradient(295.38deg, #ffe5a2 4.89%, #bf841a 50.44%, #ffcd74 95.06%);

    --bg-button-gradient: var(--text-gradient);
    --bg-button-gradient-hover: linear-gradient(294.33deg, #ffe5a2 13.01%, #bf841a 68.95%, #ffcd74 123.74%);

    --card-title-gradient: linear-gradient(90deg, rgba(9, 11, 14, 0.81) 19.79%, rgba(9, 11, 14, 0) 97.4%);
    --slider-inner-right-side-gradient: linear-gradient(90deg, rgb(244 152 173 / 0), rgb(5, 6, 7));

    --contribution-gradietn: linear-gradient(90deg, rgb(10, 12, 15), rgb(7, 9, 15));

    --ellipse-top-right-gradient: radial-gradient(
        58.92% 58.37% at 18.8% 75.16%,
        rgba(60, 99, 128, 0.55) 0%,
        rgba(25, 48, 83, 0.341) 29.63%,
        rgba(15, 18, 24, 0) 100%
    );

    --ellipse-left-center-gradient: radial-gradient(
        58.12% 110.04% at 46.74% -1.76%,
        #3c6380 0%,
        rgba(25, 48, 83, 0.62) 29.63%,
        rgba(15, 18, 24, 0) 100%
    );
}
