:root {
    --main-text-color: #fff;
    --main-background-color: #050607;

    --precent-gradient-1: 62.65% 46.71% at 74.07% 12.71%;
    --precent-gradient-2: 58.12% 110.04% at 46.74% -1.76%,
    --color-gradient-1: rgba(143, 191, 253, 0.5);
    --color-gradient-2: rgba(38, 72, 122, 0.6);
    --color-gradient-3: rgba(15, 18, 24, 0);

    --gradient-1: radial-gradient(
        var(--precent-gradient-1),
        var(--color-gradient-1) 0%,
        var(--color-gradient-2) 29.63%,
        var(--color-gradient-3) 100%
    );
    --gradient-2: radial-gradient(
        var(--precent-gradient-1),
        var(--color-gradient-1) 0%,
        var(--color-gradient-2) 29.63%,
        var(--color-gradient-3) 100%
    );

    --text-gradient: linear-gradient(295.38deg, #FFE5A2 4.89%, #BF841A 50.44%, #FFCD74 95.06%);
}
